.widget-content .image-preview-wrap img {
    max-width: 100%;
    margin: 20px auto 0;
}

div#setting-error-galway {
    width: 100%;
    max-width: 870px;
    clear: both;
}
/*Customizer CSS*/
.customize-control-checkbox input[type=checkbox] {
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 40px;
    height: 14px;
    border-radius: 8px;
    background: #ccc;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: background 350ms ease;
}

.customize-control-checkbox input[type=checkbox]:before,
.customize-control-checkbox input[type=checkbox]:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -3px;
    transition: all 350ms cubic-bezier(0, 0.95, 0.38, 0.98), background 150ms ease;
}

.customize-control-checkbox input[type=checkbox]:before {
    background: rgba(0, 0, 0, 0.2);
    transform: translate3d(0, -50%, 0) scale(0);
}

.customize-control-checkbox input[type=checkbox]:after {
    background: #999;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transform: translate3d(0, -50%, 0);
}

.customize-control-checkbox input[type=checkbox]:checked:before {
    background: rgba(52, 152, 222, 0.075);
    font-size: 0;
    line-height: 1px;
    transform: translate3d(100%, -50%, 0) scale(1);
}

.customize-control-checkbox input[type=checkbox]:checked:after {
    background: #3498DE;
    transform: translate3d(100%, -50%, 0);
}

.customize-control-radio-image input {
    vertical-align: top;
    margin-top: 13px;
    margin-right: 5px;
    display: none;
}

.customize-control-radio-image input:checked + span img {
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
    border: 1px solid #3498DB;
}

.customize-control-radio-image img {
    width: 80px;
    height: inherit;
}

body #customize-controls .control-section-upsell .accordion-section-title {
    background: #6a14d1 !important;
    background-image: -moz-linear-gradient( 0deg, rgb(223,29,198) 0%, rgb(106,20,209) 100%) !important;
    background-image: -webkit-linear-gradient( 0deg, rgb(223,29,198) 0%, rgb(106,20,209) 100%) !important;
    background-image: -ms-linear-gradient( 0deg, rgb(223,29,198) 0%, rgb(106,20,209) 100%) !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, calc(100% - 10px) 100%, 0 100%);
    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, calc(100% - 10px) 100%, 0 100%);
    color: #fff !important;
    margin: 0;
    font-size: 15px;
    padding: 20px 20px;
}

body #customize-controls .control-section-upsell .accordion-section-title:hover,
body #customize-controls .control-section-upsell .accordion-section-title:focus {
    background-color: #fff;
}

body .control-section-upsell .accordion-section-title .button {
    margin-top: -4px;
    font-weight: 700;
    margin-left: 8px;
    background-color: #2196F3;
    border-color: #2196F3;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    color: #fff;
}

body .control-section-upsell .accordion-section-title .button:hover {
    border-color: #50e3c2;
    background-color: #50e3c2;
}

body #accordion-section-theme_upsell {
    display: block !important;
}


/*--------------------------------------------------------------
# Meta
--------------------------------------------------------------*/
.galway-form-content {
    margin-bottom: 30px;
}

.galway-opt-wrap {
    display: table;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    margin: 10px auto;
    border-bottom: 1px solid #e8e8e8;
}

.galway-meta-panels .galway-opt-wrap:last-child {
    border-bottom: none;
}

.galway-opt-wrap-alt label {
    width: 220px;
    padding-right: 20px;
}

.galway-opt-wrap-alt label,
.galway-opt-wrap textarea,
.galway-opt-wrap select,
.galway-opt-wrap input[type="text"] {
    display: table-cell;
    vertical-align: middle;
}

.galway-opt-wrap textarea,
.galway-opt-wrap select,
.galway-opt-wrap input[type="text"] {
    border-color: #E2E6EC;
    width: 400px;
    padding-left: 15px;
    padding-right: 15px;
}

.galway-opt-wrap input[type="text"],
.galway-opt-wrap select {
    height: 45px;
    line-height: 45px;
}

.galway-opt-wrap textarea {
    padding-top: 10px;
    padding-bottom: 10px;
}

.galway-opt-switch .galway-checkbox-label {
    display: inline-block;
    position: relative;
    width: 42px;
    height: 22px;
    border-radius: 100px;
    background: #DCDFE6;
    border: 1px solid #DCDFE6;
    overflow: hidden;
    -webkit-transition: all cubic-bezier(1, 0, 0, 1) 0.35s;
    -moz-transition: all cubic-bezier(1, 0, 0, 1) 0.35s;
    transition: all cubic-bezier(1, 0, 0, 1) 0.35s;
}

.galway-opt-switch .galway-checkbox-label:before {
    content: "";
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    position: absolute;
    left: 2px;
    top: 50%;
    -webkit-transition: all cubic-bezier(1, 0, 0, 1) 0.35s;
    -moz-transition: all cubic-bezier(1, 0, 0, 1) 0.35s;
    transition: all cubic-bezier(1, 0, 0, 1) 0.35s;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.galway-opt-switch input[type="checkbox"]:checked + .galway-checkbox-label {
    background: #54E0C7;
    border-color: #54E0C7;
}

.galway-opt-switch input[type="checkbox"]:checked + .galway-checkbox-label:before {
    left: calc(100% - 18px);
}

.galway-opt-switch input[type="checkbox"] {
    display: none;
}

.galway-plugin-header img {
    height: 100px;
    max-width: 100%;
}

.galway-column-count .galway-column-likedislike {
    display: block;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
}

.galway-checkbox-wrap {
    background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;
}

.galway-checkbox-wrap label {
    padding: 12px 0 12px 40px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
}

.galway-checkbox-wrap label:after {
    width: 22px;
    height: 22px;
    content: '';
    border: 2px solid #D1D7DC;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 1px 1px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}

.galway-checkbox-wrap input:checked ~ label {
    color: #000;
}

.galway-checkbox-wrap input:checked ~ label:after {
    background-color: #54E0C7;
    border-color: #54E0C7;
}

.galway-checkbox-wrap input {
    width: 22px;
    height: 22px;
    order: 1;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50%;
    margin: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

.galway-tab-main,
.galway-tab-main *,
.galway-tab-main *:before,
.galway-tab-main *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.galway-tab-main {
    background-color: #fbfbfb;
    position: relative;
}

.galway-tab-main .galway-metabox-tab {
    display: block;
    position: relative;
    z-index: 10;
    float: left;
    width: 225px;
}

.galway-metabox-tab ul {
    clear: left;
    margin: 0;
    list-style-type: none;
}

.galway-metabox-tab ul li {
    margin-bottom: 0;
}

.galway-metabox-tab ul li a {
    font-size: 13px;
    position: relative;
    display: block;
    font-weight: 600;
    padding: 15px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid rgba(136, 134, 134, 0.12);
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.galway-metabox-tab ul li a:hover,
.galway-metabox-tab ul li a:focus {
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.galway-metabox-tab ul li a:hover,
.galway-metabox-tab ul li a:focus {
    color: #fff;
    background: #3473e4;
}

.galway-metabox-tab ul li a.galway-tab-active {
    color: #fff;
    background: #1769ff;
}

.galway-metabox-tab ul li a.galway-tab-active:after {
    content: "";
    position: absolute;
    right: -1px;
    top: 50%;
    height: 0;
    width: 0;
    pointer-events: none;
    border: solid transparent;
    border-right-color: #fff;
    border-width: 10px;
    margin-top: -10px;
}

.galway-tab-main .galway-tab-content {
    background-color: #fff;
    position: relative;
    margin-left: 225px;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
}

.galway-tab-content .galway-content-wrap {
    display: none;
}

.galway-tab-content .galway-content-wrap.galway-tab-content-active {
    display: block;
}

.galway-tab-content .galway-meta-title {
    border-bottom: 1px solid #e8e8e8;
    font-weight: 300;
    padding: 20px;
    margin: 0 auto;
    font-size: 32px;
}

.galway-meta-panels .galway-opt-wrap {
    padding: 20px;
    margin: 0 auto;
}

.galway-meta-panels .galway-opt-wrap:hover,
.galway-meta-panels .galway-opt-wrap:focus {
    background-color: #f9f9f9;
}
.galway-header-ad-type-opt, 
.galway-sidebar-ad-type-opt, 
.galway-article-top-ad-type-opt, 
.galway-article-inline-ad-type-opt, 
.galway-article-bottom-ad-type-opt, 
.galway-footer-ad-type-opt {
    display: none;
}
.galway-header-ad-type-opt.galway-header-ad-type-active, 
.galway-sidebar-ad-type-opt.galway-sidebar-ad-type-active, 
.galway-article-top-ad-type-opt.galway-article-top-ad-type-active, 
.galway-article-inline-ad-type-opt.galway-article-inline-ad-type-active, 
.galway-article-bottom-ad-type-opt.galway-article-bottom-ad-type-active, 
.galway-footer-ad-type-opt.galway-footer-ad-type-active{
    display: block;
}

.quick-loader-wrapper {
    display:none;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
}
.twp-installing .quick-loader-wrapper {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    opacity: 1;
    filter: alpha(opacity=1);
    visibility: visible;
}

.quick-loader {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    animation: quick-spinner 1s ease infinite;
    top: 50%;
    margin: -46px auto 0 auto;
}

@keyframes quick-spinner {
    0%, 100% {
        box-shadow: -13px 20px 0 #0052ec, 13px 20px 0 rgba(0, 82, 236, 0.2), 13px 46px 0 rgba(0, 82, 236, 0.2), -13px 46px 0 rgba(0, 82, 236, 0.2);
    }
    25% {
        box-shadow: -13px 20px 0 rgba(0, 82, 236, 0.2), 13px 20px 0 #0052ec, 13px 46px 0 rgba(0, 82, 236, 0.2), -13px 46px 0 rgba(0, 82, 236, 0.2);
    }
    50% {
        box-shadow: -13px 20px 0 rgba(0, 82, 236, 0.2), 13px 20px 0 rgba(0, 82, 236, 0.2), 13px 46px 0 #0052ec, -13px 46px 0 rgba(0, 82, 236, 0.2);
    }
    75% {
        box-shadow: -13px 20px 0 rgba(0, 82, 236, 0.2), 13px 20px 0 rgba(0, 82, 236, 0.2), 13px 46px 0 rgba(0, 82, 236, 0.2), -13px 46px 0 #0052ec;
    }
}

.twp-galway-lite-notice .button-primary-upgrade{
    background: #00b75f;
    border-color: #00b75f;
}